#root {
  height: 100%;
}

html,
body {
  height: 100%;
  color: rgb(52, 58, 64); // this is the "dark" color of boostrap
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Josefin Sans", sans-serif;
}

// hr
.myDivider {
  margin-top: 0;
  border: none;
  height: 0.2rem;
  width: 2.5rem;
  background-color: #59a49a;
  margin-left: 0;
}
