#root {
  height: 100%;
}

html,
body {
  height: 100%;
  color: #5a5a5a;
  font-family: "Dosis", sans-serif;
  background-color: ghostwhite;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Serif Pro", serif;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
