.scroll {
  opacity: 0.9 !important;

  width: 3.2rem;
  height: 3.2rem;

  position: fixed;
  right: 0.9rem;

  bottom: 2.4em;

  border-radius: 0.3125rem;
  border: none;
  outline: none !important;

  cursor: pointer;

  background-color: darkslategray;
  color: #ffbc4f;
  padding: 8px;
  font-size: 1.9rem;

  &:hover {
    transition: 0.5s;
    opacity: 1;
    background-color: #ffbc4f;
    color: white;
  }
}
