.scroll {
  opacity: 0.9;
  background-color: #edcb58;

  width: 3.6rem;
  height: 3.6rem;

  position: fixed;
  right: 0.9rem;

  bottom: 4.8em;

  border-radius: 0.3125rem;
  border: none;
  outline: none !important;
  &:hover {
    opacity: 1;
  }
}

.arrow-up {
  color: ghostwhite;
  font-size: 1.9rem;
  margin: 0rem;
  padding: 0rem;
  padding-top: 3px;
}
