.productPhoto {
  width: 230px;
  height: 385px;
  //   position: absolute;
  z-index: 1;
}

.discountImg {
  position: absolute;
  height: 75px;
  width: 75px;
  top: 25px;
  left: 65px;
  z-index: 2;
}

.discountImgBig {
  position: absolute;
  height: 75px;
  width: 75px;
  top: 25px;
  left: 75px;
  z-index: 2;
}

@media only screen and (max-width: 991px) {
  .discountImg {
    left: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .discountImg {
    top: 95px;
    left: 90px;
  }
}
