// ====================================
// filters section
.filterSection {
  background-color: whitesmoke !important;
}

.dropdownSort {
  background-color: gray !important;
  color: white;
  &:hover {
    background-color: gray !important;
    transition: 0.5s;
  }
}

.dropdownItemSort {
  &.active {
    background-color: #8a6e13 !important;
  }
  &:focus {
    background-color: #6b5611 !important;
  }
}

#clearFiltersBttn {
  height: 25px;
  width: 26px;
  background-color: rgb(220, 53, 69);
  padding: 0px;
  padding-right: 1px;
  &:hover {
    background-color: rgb(241, 67, 84);
    transition: 0.5s;
  }
  &:disabled {
    background-color: gray;
    transition: 0.5s;
  }
}

#clearFiltersTimes {
  color: ghostwhite;
  font-size: 10px;
}

// ====================================
// categories list
.filterItem {
  font-size: 16px;
  color: black !important;
  &:hover {
    background-color: #f5efe2 !important;
    color: black;
  }
  &.active {
    background-color: #c8c0b0 !important;
    color: black;
  }
}

// ====================================
// filter badge
.filterBadge {
  background-color: #5a5a5a;
  color: ghostwhite;
  font-family: Arial;
}
