// ====================================
// categories list

.catItem {
  // color: darkgray !important;
  font-weight: 600;
  &:hover {
    color: #0c2c2c !important;
    // background-color: #fce8a7 !important;
  }
  &.active {
    // color: #c89f0d !important;
    // background-color: #edcb58;
    color: #0c2c2c !important;
    font-weight: 700;
    // &:hover {
    //   background-color: #edcb58 !important;
    // }
  }
}

.catBadge {
  color: ghostwhite;
  font-family: Arial;
  background-color: #59a49a;
  &.active {
    background-color: #0c2c2c;
    color: ghostwhite;
  }
}

// ====================================
// brands list

.brandItem {
  // text-transform: uppercase;
  color: #0c2c2c !important;
  cursor: pointer;
  &:hover {
    color: #c89f0d !important;
  }
}
