.modal-open {
  padding: 0 !important;
  overflow-y: auto !important;
}

.helpbttn {
  opacity: 0.9;
  background-color: #264341;

  width: 3.6rem;
  height: 3.6rem;

  position: fixed;
  bottom: 0.9375rem;
  right: 0.9rem;
  border-radius: 0.3125rem;
  border: none;
  outline: none !important;
  &:hover {
    opacity: 1;
  }
}

.qMark {
  color: #f3d084;
  font-size: 1.9rem;
  margin: 0rem;
  padding: 0rem;
  padding-top: 3px;
}
