.modal-open {
  padding: 0 !important;
  overflow-y: auto !important;
}

.helpbttn {
  opacity: 0.9;

  width: 3.2rem;
  height: 3.2rem;

  position: fixed;
  bottom: 0.9375rem;
  right: 0.9rem;
  border-radius: 0.3125rem;
  border: none;
  outline: none !important;

  cursor: pointer;
  background-color: darkslategray;
  color: #ffbc4f;
  padding: 8px;
  font-size: 1.9rem;

  &:hover {
    transition: 0.5s;
    opacity: 1;
    background-color: #ffbc4f;
    color: white;
  }
}
