.breadcrumbItem {
  color: ghostwhite;
  font-size: 17px;
  text-decoration: underline;
  &:hover {
    color: #edcb58;
  }
  &.active {
    text-decoration: none;
    color: ghostwhite;
  }
}

.breadcrumbArrow {
  color: #c8c0b0;
}
