// favbutton style
$favbutton-back: #fe4365;
$favbutton-back-hover: #ce3551;
$favbutton-text: white;
.favbuttonstyle {
  border-color: $favbutton-back;
  background-color: $favbutton-back;
  color: $favbutton-text;
  &:hover {
    border-color: $favbutton-back-hover;
    background-color: $favbutton-back-hover;
    transition: 0.5s;
  }
}

.favImage {
  height: 200px;
  width: 135px;
  z-index: 1;
}
