// ====================================
// sort dropdowns
.dropdownSort {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  outline: none;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
  &:hover {
    background-color: white;
    transition: 0.3s;
  }
  &:focus {
    background-color: white;
  }
}

.dropdownItemSort {
  &.active {
    background-color: transparent !important;
    color: rgb(52, 58, 64);
    font-weight: bold;
  }
  &:focus {
    background-color: transparent !important;
    color: rgb(52, 58, 64);
  }
}

// ====================================
// categories list
.filterItem {
  color: rgb(46, 46, 46) !important;
  &:hover {
    color: gray !important;
  }
  &.active {
    border-radius: 0px;
    color: rgb(52, 58, 64) !important;
    font-weight: bold;
  }
}

// ====================================
// pagination
.itemsStyle {
  &.page-item {
    a {
      color: gray;
      outline: none;
      box-shadow: none !important;
    }
    &.active {
      .page-link {
        color: ghostwhite;
        background-color: #264341;
        border-color: #264341;
      }
    }
  }
}
