.carousel-control-next {
  width: 3%;
}

.carousel-control-prev {
  width: 3%;
}

.carousel-control-next-icon {
  background-color: green;
  border-radius: 5px;
  padding: 20px !important;
  width: 20px;
  height: 65px;
}

.carousel-control-prev-icon {
  background-color: green;
  border-radius: 5px;
  padding: 20px !important;
  width: 20px;
  height: 65px;
}
