#productcardstyle {
  width: 18rem;
}

#cardheader {
  background-color: #264341;
}

.productCardPhoto {
  width: 190;
  height: 230;
  z-index: 1;
}

.productCardDiscount {
  position: absolute;
  height: 45px;
  width: 45px;
  top: 55px;
  left: 25px;
  z-index: 2;
}

@media only screen and (max-width: 481px) {
  #productcardstyle {
    // width: 10.4rem;
    width: 48%;
    margin-right: 3px !important;
    margin-left: 3px !important;
  }
}
