.productCard {
  width: 17rem;
  margin: 0px 11px;
  border-style: none;
}

.productCardBody {
  padding: 14px;
}

.productCardPhoto {
  width: 150px;
  height: 250px;
  z-index: 1;
}

.productCardDiscount {
  position: absolute;
  height: 45px;
  width: 45px;
  top: 25px;
  left: 25px;
  z-index: 2;
}

@media only screen and (max-width: 481px) {
  .productCard {
    width: 48%;
    margin: 0px;
  }
  .productCardBody {
    padding: 4px;
  }
  .productCardPhoto {
    width: 100%;
    height: 235px;
  }
}
