.carousel-control-next {
  width: 3%;
}

.carousel-control-prev {
  width: 3%;
}

.carousel-control-next-icon {
  background-color: #264341;
  //   opacity: 1;
  border-radius: 5px;
  padding: 20px !important;
  width: 45px;
  height: 45px;
}

.carousel-control-prev-icon {
  background-color: #264341;
  //   opacity: 1;
  border-radius: 5px;
  padding: 20px !important;
  width: 45px;
  height: 45px;
}
