.catItem {
  color: #0c2c2c !important;
  &:hover {
    color: #c89f0d !important;
    // background-color: #fce8a7 !important;
  }
  &.active {
    color: #c89f0d !important;
    // background-color: #edcb58;
    font-weight: 700;
    // &:hover {
    //   background-color: #edcb58 !important;
    // }
  }
}

.catBadge {
  color: ghostwhite;
  font-family: Arial;
  background-color: #59a49a;
  &.active {
    background-color: #c89f0d;
    color: ghostwhite;
  }
}
