.modal-open {
  padding: 0 !important;
  overflow-y: auto !important;
}

.helpbttn {
  opacity: 0.7;
  background-color: deeppink;
  width: 3rem;
  height: 3rem;
  position: fixed;
  right: 1.7rem;
  bottom: 4.3rem;
  border-radius: 0.3125rem;
  border: none;
  outline: none !important;
}

.helpbttn:hover {
  opacity: 1;
}

.qMark {
  color: white;
  font-size: 2.1875rem;
  font-weight: 650;
  margin: 0rem;
  padding: 0rem;
}
