.modal-open {
  padding: 0 !important;
  overflow-y: auto !important;
}

.helpbttn {
  opacity: 0.7;
  background-color: deeppink;
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  bottom: 0.9375rem;
  right: 1.7rem;
  border-radius: 0.3125rem;
  border: none;
  outline: none !important;
  &:hover {
    opacity: 1;
  }
}

.qMark {
  color: ghostwhite;
  font-size: 1.6rem;
  margin: 0rem;
  padding: 0rem;
}
