.helpbttn {
  opacity: 0.6;
  background-color: deeppink;
  width: 55px;
  height: 60px;
  position: fixed;
  bottom: 15px;
  right: 25px;
  border-radius: 5px;
  border: none;
}

.helpbttn:hover {
  opacity: 1;
}
