.scroll {
  opacity: 0.7;
  background-color: red;
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  right: 1.7rem;
  bottom: 3.8em;
  border-radius: 0.3125rem;
  border: none;
  outline: none !important;
  &:hover {
    opacity: 1;
  }
}

.arrow-up {
  color: ghostwhite;
  font-size: 1.6rem;
  margin: 0rem;
  padding: 0rem;
}
