#shoppingBag {
  position: absolute;
  color: #59a49a;
  font-size: 40px;
  margin: 0px;
  padding: 0px;
  top: 22px;
}

#bagBadge {
  position: relative;
  font-size: 18px;
  color: darkslategray;
  font-family: arial;
  top: 8px;
  left: 5px;
  color: ghostwhite;
  background-color: transparent;
  width: 26px;
  padding: 0;
  font-weight: 800;
}
