// ====================================
// filters section
.filterSection {
  background-color: whitesmoke !important;
  padding-top: 5px !important;
  padding-bottom: 17px !important;
}

.dropdownSort {
  background-color: #264341 !important;
  border: 0px;
  color: white;
  &:hover {
    background-color: #0c2c2c !important;
    transition: 0.5s;
  }
}

.dropdownItemSort {
  &.active {
    background-color: lightgray !important;
    color: black;
  }
  &:focus {
    background-color: rgb(192, 191, 191) !important;
    color: black;
  }
}

// ====================================
// categories list
.filterItem {
  font-size: 16px;
  color: black !important;
  &:hover {
    background-color: #f5efe2 !important;
    color: black;
  }
  &.active {
    background-color: #c8c0b0 !important;
    color: black;
  }
}

// ====================================
// filter badge
.filterBadge {
  background-color: #5a5a5a;
  color: ghostwhite;
  font-family: Arial;
}

// ====================================
// pagination

.itemsStyle {
  &.page-item {
    a {
      color: gray;
      outline: none;
      box-shadow: none !important;
    }
    &.active {
      .page-link {
        color: ghostwhite;
        background-color: #264341;
        border-color: #264341;
      }
    }
  }
}
