// ====================================
// filters section
.filterSection {
  // background-color: whitesmoke !important;
  padding-top: 5px !important;
  padding-bottom: 17px !important;
}

.dropdownSort {
  background-color: #264341 !important;
  border: 0px;
  color: white;
  &:hover {
    background-color: #0c2c2c !important;
    transition: 0.5s;
  }
}

.dropdownItemSort {
  &.active {
    background-color: lightgray !important;
    color: black;
  }
  &:focus {
    background-color: rgb(192, 191, 191) !important;
    color: black;
  }
}

// ====================================
// categories list
.filterItem {
  color: rgb(46, 46, 46) !important;
  &:hover {
    color: gray !important;
  }
  &.active {
    // background-color: transparent !important;
    // border-bottom: 2px solid rgb(110, 153, 24);
    border-radius: 0px;
    // color: rgb(110, 153, 24) !important;
    color: rgb(52, 58, 64) !important;
    font-weight: bold;
  }
}

// ====================================
// filter badge
.filterBadge {
  // background-color: #5a5a5a !important;
  background-color: transparent !important;
  color: rgb(110, 153, 24) !important;
  font-weight: bold;
}

.filterBadgeSelected {
  background-color: rgb(110, 153, 24) !important;
  color: ghostwhite;
}

// ====================================
// pagination
.itemsStyle {
  &.page-item {
    a {
      color: gray;
      outline: none;
      box-shadow: none !important;
    }
    &.active {
      .page-link {
        color: ghostwhite;
        background-color: #264341;
        border-color: #264341;
      }
    }
  }
}
