// NAVBAR
#navbarStyle {
  background-color: #0c2c2c;
}

// LOGO
#navbarLogo {
  color: #f1f227;
  font-family: "Lobster", cursive;
  font-size: 28px;
}

#navbarLogoLeaf {
  font-size: 24px;
}

// TOGGLE
#navbarToggleStyle {
  border: none;
  outline: 0;
}

#navbarToggleBag {
  font-size: 25px;
  color: ghostwhite;
  outline: 0;
}

#navbarToggleCounter {
  margin-left: -4px;
}

// ALL DROPDOWN
.navbarDropdownStyle {
  color: #c8f7c5 !important;
}

.dropdownIcon {
  font-size: 18px;
}

.navbarDropdownStyle::after {
  display: none;
}

// DROPDOWN - CATEGORIES
.categoriesProductCounter {
  color: #fe4365;
  font-weight: bold;
}

// DROPDOWN - LOGIN
#loginDropdownMenu {
  width: 19rem;
}

// DROPDOWN - CLIENT
.clientLoginDropdown {
  color: #36d7b7 !important;
}

.navbarDropdownStyle::after {
  display: none;
}

// DROPDOWN - BAG
@media only screen and (min-width: 767px) {
  #bagDropdownMenu {
    width: 24rem;
  }
}
