#navbarStyle {
  background-color: #264341;

  // if i set a height the dropdown breaks idk why
  // height: 65px;
}

#navbarLogo {
  color: #f3d084;
  font-family: "Acme", sans-serif;
  font-size: 28px;
}

#navbarToggleStyle {
  border: none;
  outline: 0;
}

#navbarToggleIcon {
  font-size: 25px;
  color: ghostwhite;
  outline: 0;
}

// dropdowns
@media only screen and (min-width: 991px) {
  #bagDropdownMenu {
    width: 20.125rem;
  }
  #clientLoginDropdown {
    width: 20.125rem;
  }
}
