// NAVBAR
#navbarStyle {
  background-color: #0c2c2c;
}

// LOGO
#navbarLogo {
  color: #ffe486;
  font-family: "Lobster", cursive;
  font-size: 30px;
}

#navbarLogoLeaf {
  font-size: 24px;
}

// TOGGLE
#navbarToggleStyle {
  border: none;
  outline: 0;
}

#navbarToggleBagIcon {
  font-size: 25px;
  color: #f2f1ef;
  outline: 0;
}

#navbarToggleCounter {
  margin-left: -4px;
}

// ALL DROPDOWN
.navbarDropdownStyle {
  color: #f2f1ef !important;
  &:hover {
    color: #d9f0d3 !important;
  }
}

.navbarDropdownStyle::after {
  display: none;
}

.navbarDropdownItemStyle {
  &:hover {
    background-color: #ffeeb3;
  }
  &:focus {
    background-color: #ffe486;
    color: #0c2c2c;
  }
}

// DROPDOWN - CATEGORIES
.categoriesProductCounter {
  color: #fe4365;
  font-weight: bold;
}

// DROPDOWN - LOGIN
#loginDropdownMenu {
  width: 19rem;
}

// DROPDOWN- SEARCH
#searchDropdownMenu {
  width: 21rem;
}

// DROPDOWN - CLIENT
.clientLoginDropdown {
  color: #f3d084 !important;
}

.clientLoginDropdown::after {
  display: none;
}

.navbarDropdownStyle::after {
  display: none;
}

#dropdownMenuLG {
  // min-width: 15rem;
}

// DROPDOWN - BAG
@media only screen and (min-width: 767px) {
  #bagDropdownMenu {
    width: 24rem;
  }
}

// small nav
#smallNavbarStyle {
  background-color: #264341;
}
