#sb-div {
  height: 40;
  background-color: ghostwhite;
}

#sb-input {
  outline: 0;
}

#sb-searchIcon {
  padding-left: 8;
  padding-right: 8;
  background-color: transparent;
}

#sb-magnifyingGlass {
  color: #264341;
}
