// #sb-div {
//   height: 40;
//   background-color: ghostwhite;
// }

#sb-input {
  width: 100%;
  outline: 0;
  height: 40;
  background-color: ghostwhite;
  border: 0px;
  border-radius: 5px;
  padding: 6px;
}

// #sb-searchIcon {
//   padding-left: 8;
//   padding-right: 8;
//   background-color: transparent;
// }

// #sb-magnifyingGlass {
//   color: #264341;
// }

#suggestions {
  position: fixed;
  background-color: ghostwhite;
  z-index: 100;
  border: 0px !important;
  border-radius: 2px;
  // border: 1px solid #999;
  // border-top-width: 0;
  list-style: none;
  margin-top: 35px;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 8px;
  // padding-left: 10px;
  // padding-right: 20px;
  // width: calc(300px + 1rem);
  // width: calc(80% - 100px);
  width: 20%;
  // width: auto;
  // width: 60rem;
  // width: 100%;
}

.suggestionsItem {
  background-color: transparent;
  margin-top: 5px;
  margin-bottom: 5px;
  :hover {
    background-color: gainsboro !important;
  }
}
